pm_vm_name      = "vm300152410"
pm_ipconfig0    = "ip=10.7.237.xxx/23,gw=10.7.237.1"
pm_nameserver   = "10.7.237.3"
pm_url          = "https://10.7.237.19:8006/api2/json"
pm_token_id     = "tofu@pve!opentofu"
pm_token_secret = "PUT_YOUR_TOKEN_HERE"
